# ######################################################################
# Cloudmesh base library
# ######################################################################
#
cloudmesh_base
#
# ######################################################################
# General util libraries
# ######################################################################
sh
simplejson
pyaml
#
# ######################################################################
# Databases
# ######################################################################
#
pymongo
mongoengine

