# ######################################################################
# cloudmesh base library
# ######################################################################
#
cloudmesh_base
#
# ######################################################################
# Databases
# ######################################################################
#
pymongo
mongoengine

